<script>
	history.pushState({}, '', 'admin?entite=mise')
</script>
<section>
	<div class="catalogue-header">
		<h2>{{ titre }}</h2>
	</div>
	<p class="no-padding-bottom messageRetourAction {{ classRetour }}">{{ messageRetourAction }}&nbsp;</p>
	{% if encheresMises %}
		{# TABLEAU MISE #}
		<table class="admin-tableau-enchere">
			<thead>
				<tr>
					{% if oUtilConn.utilisateur_profil_id is same as constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
						<th>Id</th>
					{% endif %}
					<th>Image</th>
					<th>Titre</th>
					<th>Début enchère</th>
					<th>Fin enchère</th>
					<th>Nombre de mises</th>
					<th>Mise actuelle</th>
					{% if oUtilConn.utilisateur_profil_id is same as constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
						<th>Remporté par utilisateur #</th>
					{% else %}
						<th>Votre mise max</th>
					{% endif %}
					<th>Résultat / Action</th>
				</tr>
			</thead>
			<tbody>
				{% for enchereMise in encheresMises %}
					<tr>
						{% if oUtilConn.utilisateur_profil_id is same as constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
							<td data-colonne="Id">{{ enchereMise.enchere_id }}</td>
						{% endif %}

						<td data-colonne="Image">
							<a href="enchere?enchere_id={{ enchereMise.enchere_id }}">
								<picture><img src={{ enchereMise.image_nom_fichier }} alt="{{ enchere.timbre_titre }}"></picture>
							</a>
						</td>
						<td data-colonne="Titre">{{ enchereMise.timbre_titre }}</td>
						<td data-colonne="Date de début">{{ enchereMise.enchere_date_debut }}</td>
						<td data-colonne="Date de fin">{{ enchereMise.enchere_date_fin }}</td>
						<td data-colonne="Nombre de mise">{{ enchereMise.nb_mise }}</td>
						<td data-colonne="Mise actuelle">{{ enchereMise.mise_actuelle }}$</td>
						{% if oUtilConn.utilisateur_profil_id is same as constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
							<td data-colonne="Id utilisateur gagnant">{{ enchereMise.mise_actuelle_utilisateur_id }}</td>
						{% else %}
							<td data-colonne="Votre enchère max">
								{% if enchereMise.mise_max_utilisateur_actif %}
									{{ enchereMise.mise_max_utilisateur_actif }}$
								{% else %}
									-
								{% endif %}
							</td>
						{% endif %}
						<td data-colonne="Résultat / Action">
							{% if enchereMise.mise_actuelle_utilisateur_id is same as oUtilConn.utilisateur_id %}
								<span>Vous remportez l'enchère</span>
							{% elseif enchereMise.heures_restant <= 0 %}
								<span>Cette enchère est terminée</span>
							{% else %}
								<a href="enchere?enchere_id={{ enchereMise.enchere_id }}">Enchérir</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>Vous n'avez pas encore miser sur une enchère !</p>
	{% endif %}
</section>
{{ include("admin/modaleSuppression.twig") }}
