<script>
	history.pushState({}, '', 'admin?entite=utilisateur')
</script>
<section>
	<div class="catalogue-header">
		<h2>{{ titre }}</h2>
		{% if oUtilConn.utilisateur_profil_id == constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
			<a href="admin?entite=utilisateur&action=a" class="button">Ajouter un utilisateur</a>
		{% endif %}

	</div>
	<p class="messageRetourAction {{ classRetour }}">{{ messageRetourAction|raw }}&nbsp;</p>
	{% if oUtilConn.utilisateur_profil_id == constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Prénom, Nom</th>
					<th>Courriel</th>
					<th>Profil</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for utilisateur in utilisateurs %}
					<tr>
						<td data-colonne="Id">{{ utilisateur.utilisateur_id }}</td>
						<td data-colonne="Nom">{{ utilisateur.utilisateur_prenom }},
							{{ utilisateur.utilisateur_nom }}</td>
						<td data-colonne="Courriel">{{ utilisateur.utilisateur_courriel }}</td>
						<td data-colonne="Profil">
							{% for profil in profils %}
								{% if utilisateur.utilisateur_profil_id == profil.profil_id %}
									{{ profil.profil_nom }}
								{% endif %}
							{% endfor %}
						</td>
						<td data-colonne="Actions">
							<a href="admin?entite=utilisateur&action=m&utilisateur_id={{ utilisateur.utilisateur_id }}">modifier</a>
							{# si pas d'enchere ni de mise sur le timbre on peut supprimer #}
							<span class="confirmer" data-href="admin?entite=utilisateur&action=s&utilisateur_id={{ utilisateur.utilisateur_id }}">supprimer</span>
							<a href="admin?entite=utilisateur&action=generer_mdp&utilisateur_id={{ utilisateur.utilisateur_id }}">générer mdp</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<table>
			<thead>
				<tr>
					<th>Prénom, Nom</th>
					<th>Courriel</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td data-colonne="Nom">{{ utilisateurs.utilisateur_prenom }},
						{{ utilisateurs.utilisateur_nom }}</td>
					<td data-colonne="Courriel">{{ utilisateurs.utilisateur_courriel }}</td>
					<td data-colonne="Actions">
						<a href="admin?entite=utilisateur&action=m&utilisateur_id={{ utilisateurs.utilisateur_id }}">modifier</a>
					</td>
				</tr>
			</tbody>
		</table>

	{% endif %}


	{{ include("admin/modaleSuppression.twig") }}
