<script>
	history.pushState({}, '', 'admin?entite=enchere')
</script>
<section>
	<div class="catalogue-header">
		<h2>{{ titre }}</h2>
		{# AJOUTER UN TIMBRE #}
		<a href="admin?entite=enchere&action=a" class="button">Ajouter une enchère</a>
	</div>
	<p class="no-padding-bottom messageRetourAction {{ classRetour }}">{{ messageRetourAction }}&nbsp;</p>
	{% if encheresTimbres %}
		{# TABLEAU TIMBRE #}
		<table class="admin-tableau-enchere">
			<thead>
				<tr>
					{% if oUtilConn.utilisateur_profil_id is same as constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
						<th>Id</th>
					{% endif %}
					<th>Image</th>
					<th>Titre</th>
					<th>Statut</th>
					{% if oUtilConn.utilisateur_profil_id is same as constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
						<th>Créé par</th>
					{% endif %}
					<th>Début enchère</th>
					<th>Fin enchère</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for enchereTimbre in encheresTimbres %}
					<tr>
						{% if oUtilConn.utilisateur_profil_id is same as constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
							<th>{{ enchereTimbre.enchere_id }}</th>
						{% endif %}
						<th><img src="{{ enchereTimbre.image_nom_fichier }}" alt=""></th>
						<th>{{ enchereTimbre.timbre_titre }}</th>
						<th>
							{% if     enchereTimbre.timbre_statut == constant('Timbre::STATUT_INVISIBLE') %}
								Non approuvé
							{% elseif enchereTimbre.timbre_statut == constant('Timbre::STATUT_VISIBLE') %}
								En ligne
							{% elseif enchereTimbre.timbre_statut == constant('Timbre::STATUT_ARCHIVE') %}
								Archivé
							{% endif %}
						</th>
						{% if oUtilConn.utilisateur_profil_id is same as constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
							<th>{{ enchereTimbre.utilisateur_prenom }}
								{{ enchereTimbre.utilisateur_nom }}
							</th>
						{% endif %}
						<th>{{ enchereTimbre.enchere_date_debut }}</th>
						<th>{{ enchereTimbre.enchere_date_fin }}</th>
						<th>
							<a href="admin?entite=enchere&action=m&timbre_id={{ enchereTimbre.timbre_id }}">
								modifier</a>
							{# si pas d'enchere ni de mise sur le timbre on peut supprimer #}
							<span class="confirmer" data-href="admin?entite=enchere&action=s&timbre_id={{ enchereTimbre.timbre_id }}">supprimer</span>
						</th>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>Vous n'avez pas encore ajouté d'enchère !</p>
	{% endif %}
</section>
{{ include("admin/modaleSuppression.twig") }}
