<script>
	history.pushState({}, '', 'admin?entite=enchere')
</script>

<section>
	<div class="catalogue-header">
		<h2>{{ titre }}</h2>
		{# AJOUTER UN TIMBRE #}
		<a href="admin?entite=enchere&action=a" class="button">Ajouter une enchère</a>
	</div>
	<p class="no-padding-bottom messageRetourAction {{ classRetour }}">{{ messageRetourAction }}&nbsp;</p>
	{% if encheresMises %}
		{# TABLEAU TIMBRE #}
		<table class="admin-tableau-enchere">
			<thead>
				<tr>
					{% if oUtilConn.utilisateur_profil_id is same as constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
						<th>Id</th>
					{% endif %}
					<th>Image</th>
					<th>Titre</th>
					<th>Statut</th>
					{% if oUtilConn.utilisateur_profil_id is same as constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
						<th>Créé par</th>
					{% endif %}
					<th>Début enchère</th>
					<th>Fin enchère</th>
					<th>Nombre de mises</th>
					<th>Mise actuelle</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for enchereMise in encheresMises %}
					<tr>
						{% if oUtilConn.utilisateur_profil_id is same as constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
							<td data-colonne="Id">{{ enchereMise.enchere_id }}</td>
						{% endif %}
						<td data-colonne="Image"><img src="{{ enchereMise.image_nom_fichier }}" alt=""></td>
						<td data-colonne="Titre">{{ enchereMise.timbre_titre }}</td>
						<td data-colonne="Statut">
							{% if     enchereMise.timbre_statut == constant('Timbre::STATUT_INVISIBLE') %}
								Non approuvé
							{% elseif enchereMise.timbre_statut == constant('Timbre::STATUT_VISIBLE') %}
								En ligne
							{% elseif enchereMise.timbre_statut == constant('Timbre::STATUT_ARCHIVE') %}
								Archivé
							{% endif %}
						</td>
						{% if oUtilConn.utilisateur_profil_id is same as constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
							<td data-colonne="Créé par">{{ enchereMise.utilisateur_prenom }}
								{{ enchereMise.utilisateur_nom }}
							</td>
						{% endif %}
						<td data-colonne="Date de début">{{ enchereMise.enchere_date_debut }}</td>
						<td data-colonne="Date de fin">{{ enchereMise.enchere_date_fin }}</td>
						<td data-colonne="Nombre de mise">{{ enchereMise.nb_mise }}</td>
						<td data-colonne="Mise actuelle">
							{% if enchereMise.mise_actuelle %}
								{{ enchereMise.mise_actuelle }}$
								{% else %}-
							{% endif %}
						</td>
						<td data-colonne="Actions">
							<a href="admin?entite=enchere&action=m&enchere_id={{ enchereMise.enchere_id }}">
								Modifier</a>
							{% if enchereMise.nb_mise <= 0  %}
								{# si pas de mise sur le timbre on peut supprimer #}
								<span class="confirmer" data-href="admin?entite=enchere&action=s&enchere_id={{ enchereMise.enchere_id }}">| Supprimer</span>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>Vous n'avez pas encore ajouté d'enchère !</p>
	{% endif %}
	{{ include("admin/modaleSuppression.twig") }}
</section>
