<script>
	history.pushState({}, '', 'admin?entite=utilisateur')
</script>
<section>
	<div class="catalogue-header">
		<h2>{{ titre }}</h2>
		<a href="admin?entite=utilisateur&action=a" class="button">Ajouter un utilisateur</a>
	</div>
	<p class="messageRetourAction {{ classRetour }}">{{ messageRetourAction|raw }}&nbsp;</p>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom, Prénom</th>
				<th>Courriel</th>
				<th>Profil</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for utilisateur in utilisateurs %}
				<tr>
					<th>{{ utilisateur.utilisateur_id }}</th>
					<th>{{ utilisateur.utilisateur_nom }},
						{{ utilisateur.utilisateur_prenom }}</th>
					<th>{{ utilisateur.utilisateur_courriel }}</th>
					<th>{{ utilisateur.utilisateur_profil }}</th>
					<th>
						<a href="admin?entite=utilisateur&action=m&utilisateur_id={{ utilisateur.utilisateur_id }}">modifier</a>

						{# si pas d'enchere ni de mise sur le timbre on peut supprimer #}
						<span class="confirmer" data-href="admin?entite=utilisateur&action=s&utilisateur_id={{ utilisateur.utilisateur_id }}">supprimer</span>
						<a href="admin?entite=utilisateur&action=generer_mdp&utilisateur_id={{ utilisateur.utilisateur_id }}">générer mdp</a>
					</th>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ include("admin/modaleSuppression.twig") }}
