<section>
	<h2>{{ titre }}</h2>

	<form class="g" method="POST" action="admin?entite=enchere&action=m&enchere_id={{  enchere.enchere_id }} " enctype="multipart/form-data">
		<div>
			<label>Titre</label>
			<input name="timbre[timbre_titre]" value="{{ timbre.timbre_titre }}">
			<span>&nbsp;{{ erreursTimbre.timbre_titre }}</span>

			<label>Description</label>
			<textarea name="timbre[timbre_description]" rows="3">{{ timbre.timbre_description }}</textarea>
			<span>&nbsp;{{ erreursTimbre.timbre_description }}</span>

			<label>Année de Publication</label>
			<input name="timbre[timbre_annee_publication]" type="number" value="{{ timbre.timbre_annee_oublication | default('now' | date('Y')) }}" min="{{ constant('Timbre::ANNEE_PREMIER_TIMBRE') }}" max="{{ 'now' | date('Y') }}">
			<span>&nbsp;{{ erreursTimbre.timbre_annee_publication }}</span>

			<label>Condition</label>
			<select name="timbre[timbre_condition_id]">
				<option value="">Sélectionnez une condition</option>
				{% for condition in conditions %}
					<option value="{{ condition.condition_id }}" {{ timbre.condition_nom == condition.condition_nom ? 'selected' : '' }}>{{ condition.condition_nom }}</option>
				{% endfor %}
			</select>

			<label>Pays</label>
			<select name="timbre[timbre_pays_id]">
				<option value="">Sélectionnez un pays</option>
				{% for unPays in pays %}
					<option value="{{ unPays.pays_id }}" {{ timbre.pays_nom == unPays.pays_nom ? 'selected' : '' }}>{{ unPays.pays_nom }}</option>
				{% endfor %}
			</select>
			<span>&nbsp;{{ erreursTimbre.timbre_pays_id }}</span>

			<label>Dimensions</label>
			<textarea name="timbre[timbre_dimensions]" rows="1">{{ timbre.timbre_dimensions }}</textarea>
			<span>&nbsp;{{ erreursTimbre.timbre_dimensions }}</span>

			<label>Tirage</label>
			<select name="timbre[timbre_tirage_id]">
				<option value="">Sélectionnez un type de tirage</option>
				{% for tirage in tirages %}
					<option value="{{ tirage.tirage_id }}" {{ timbre.tirage_nom == tirage.tirage_nom ? 'selected' : '' }}>{{ tirage.tirage_nom }}</option>
				{% endfor %}
			</select>

			<label>Couleur</label>
			<select name="timbre[timbre_couleur_id]">
				<option value="">Sélectionnez une couleur dominante</option>
				{% for couleur in couleurs %}
					<option value="{{ couleur.couleur_id }}" {{ timbre.couleur_nom == couleur.couleur_nom ? 'selected' : '' }}>{{ couleur.couleur_nom }}</option>
				{% endfor %}
			</select>

			<label>Certification</label>
			<select name="timbre[timbre_certification]">
				<option value="oui" {{ timbre.timbre_certification == 'oui' ? 'selected' : '' }}>Oui</option>
				<option value="non" {{ timbre.timbre_certification == 'non' ? 'selected' : '' }}>Non</option>
			</select>

			<input type="hidden" name="timbre[timbre_id]" value="{{ timbre.timbre_id }}">
		</div>
		<div>
			<label>Date et heure du début de l'enchère</label>
			<input type="datetime-local" name="enchere[enchere_date_debut]" value="{{ enchere.enchere_date_debut }}">
			<span>&nbsp;{{ erreursEnchere.enchere_date_debut }}</span>

			<label>Date et heure de la fin de l'enchère</label>
			<input type="datetime-local" name="enchere[enchere_date_fin]" value="{{ enchere.enchere_date_fin }}">
			<span>&nbsp;{{ erreursEnchere.enchere_date_fin }}</span>

			<label>Prix de reserve</label>
			<input type="number" name="enchere[enchere_prix_reserve]" value="{{ enchere.enchere_prix_reserve }}">
			<span>&nbsp;{{ erreursEnchere.enchere_prix_reserve }}</span>

			<label>Coup de coeur du lord</label>
			<select name="enchere[enchere_coup_coeur]">
				<option value="oui" {{ enchere.enchere_coup_coeur == 'Oui' ? 'selected' : '' }}>Oui</option>
				<option value="non" {{ enchere.enchere_coup_coeur == 'Non' ? 'selected' : '' }}>Non</option>
			</select>
			<input type="hidden" name="enchere[enchere_id]" value="{{ enchere.enchere_id }}">

		</div>
		{# <div>
																																			<label>Image principale</label>
																																			<img src="{{ timbre.image_nom_fichier }}" alt="">
																																			<input name="image_nom_fichier" type="file">
																																			<span>&nbsp;{{ erreurs.image_nom_fichier }}</span>
																																		</div> #}
		<input type="submit" value="Envoyer">

	</form>
</section>
