<script>
	history.pushState({}, '', 'admin?entite=pays')
</script>
<section>
	<div class="catalogue-header">
		<h2>{{ titre }}</h2>
		<a href="admin?entite=pays&action=a" class="button">Ajouter un pays</a>
	</div>
	<p class="messageRetourAction {{ classRetour }}">{{ messageRetourAction }}&nbsp;</p>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Nb timbres</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for unPays in pays %}
				<tr>
					<th>{{ unPays.pays_id }}</th>
					<th>{{ unPays.pays_nom }}</th>
					<th>{{ unPays.nb_timbres }}</th>
					<th>
						<a href="admin?entite=pays&action=m&pays_id={{ unPays.pays_id }}">modifier</a>
						{% if not unPays.nb_timbres %}
							<span class="confirmer" data-href="admin?entite=pays&action=s&pays_id={{ unPays.pays_id }}">supprimer</span>
						{% endif %}
					</th>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ include("admin/modaleSuppression.twig") }}
