<section>
	<h2>{{ titre }}</h2>

	<form class="g" method="POST" action="admin?entite=timbre&action=a" enctype="multipart/form-data">

		<div>
			<label>Titre</label>
			<input name="timbre_titre" value="{{ timbre.timbre_titre }}">
			<span>&nbsp;{{ erreurs.timbre_titre }}</span>

			<label>Description</label>
			<textarea name="timbre_description" rows="3">{{ timbre.timbre_description }}</textarea>
			<span>&nbsp;{{ erreurs.timbre_description }}</span>

			<label>Année de Publication</label>
			<input name="timbre_annee_publication" type="number" value="{{ timbre.timbre_annee_oublication | default('now' | date('Y')) }}" min="{{ constant('Timbre::ANNEE_PREMIER_TIMBRE') }}" max="{{ 'now' | date('Y') }}">
			<span>&nbsp;{{ erreurs.timbre_annee_publication }}</span>

			<label>Condition</label>
			<select name="timbre_condition">
				<option value="{{ constant('Timbre::CONDITION_PARFAITE') }}" {{ timbre.timbre_condition == constant('Timbre::CONDITION_PARFAITE') ? 'selected' : '' }}>Parfaite</option>
				<option value="{{ constant('Timbre::CONDITION_EXCELLENTE') }}" {{ timbre.timbre_condition == constant('Timbre::CONDITION_EXCELLENTE') ? 'selected' : '' }}>Excellente
				</option>
				<option value="{{ constant('Timbre::CONDITION_BONNE') }}" {{ timbre.timbre_condition == constant('Timbre::CONDITION_BONNE') ? 'selected' : '' }}>Bonne
				</option>
				<option value="{{ constant('Timbre::CONDITION_MOYENNE') }}" {{ timbre.timbre_condition == constant('Timbre::CONDITION_MOYENNE') ? 'selected' : '' }}>Moyenne
				</option>
				<option value="{{ constant('Timbre::CONDITION_ENDOMMAGE') }}" {{ timbre.timbre_condition == constant('Timbre::CONDITION_ENDOMMAGE') ? 'selected' : '' }}>Endommagée
				</option>
			</select>

			<label>Pays</label>
			<select name="timbre_pays_id">
				<option value="">Sélectionnez un pays</option>
				{% for unPays in pays %}
					<option value="{{ unPays.pays_id }}" {{ timbre.timbre_pays_id == unPays.pays_id ? 'selected' : '' }}>{{ unPays.pays_nom }}</option>
				{% endfor %}
			</select>
			<span>&nbsp;{{ erreurs.timbre_pays_id }}</span>

			<label>Dimensions</label>
			<textarea name="timbre_dimensions" rows="1">{{ timbre.timbre_dimensions }}</textarea>
			<span>&nbsp;{{ erreurs.timbre_dimensions }}</span>

			<label>Tirage</label>
			<select name="timbre_tirage">
				<option value="{{ constant('Timbre::TIRAGE_MAX100') }}" {{ timbre.timbre_tirage == constant('Timbre::TIRAGE_MAX100') ? 'selected' : '' }}>0 - 100</option>
				<option value="{{ constant('Timbre::TIRAGE_MAX500') }}" {{ timbre.timbre_tirage == constant('Timbre::TIRAGE_MAX500') ? 'selected' : '' }}>100 - 500</option>
				<option value="{{ constant('Timbre::TIRAGE_MAX1000') }}" {{ timbre.timbre_tirage == constant('Timbre::TIRAGE_MAX1000') ? 'selected' : '' }}>500 - 1000</option>
				<option value="{{ constant('Timbre::TIRAGE_MAX5000') }}" {{ timbre.timbre_tirage == constant('Timbre::TIRAGE_MAX5000') ? 'selected' : '' }}>1000 - 5000</option>
			</select>

			<label>Couleur dominante</label>
			<select name="timbre_couleur">
				<option value="{{ constant('Timbre::COULEUR_ROUGE') }}" {{ timbre.timbre_couleur == constant('Timbre::COULEUR_ROUGE') ? 'selected' : '' }}>Rouge</option>
				<option value="{{ constant('Timbre::COULEUR_JAUNE') }}" {{ timbre.timbre_couleur == constant('Timbre::COULEUR_JAUNE') ? 'selected' : '' }}>Jaune</option>
				<option value="{{ constant('Timbre::COULEUR_BLEU') }}" {{ timbre.timbre_couleur == constant('Timbre::COULEUR_BLEU') ? 'selected' : '' }}>Bleu</option>
				<option value="{{ constant('Timbre::COULEUR_VERT') }}" {{ timbre.timbre_couleur == constant('Timbre::COULEUR_VERT') ? 'selected' : '' }}>Vert</option>
				<option value="{{ constant('Timbre::COULEUR_BLANC') }}" {{ timbre.timbre_couleur == constant('Timbre::COULEUR_BLANC') ? 'selected' : '' }}>Blanc</option>
				<option value="{{ constant('Timbre::COULEUR_NOIR') }}" {{ timbre.timbre_couleur == constant('Timbre::COULEUR_NOIR') ? 'selected' : '' }}>Noir</option>
			</select>

			<label>Certification</label>
			<select name="timbre_certification">
				<option value="1" {{ timbre.timbre_certification == '1' ? 'selected' : '' }}>Oui</option>
				<option value="0" {{ timbre.timbre_certification == '0' ? 'selected' : '' }}>Non</option>
			</select>

			<input type="submit" value="Envoyer">

		</form>

	</section>
