<script>
	history.pushState({}, '', 'admin?entite=enchere')
</script>

<section>
	<div class="catalogue-header">
		<h2>{{ titre }}</h2>
		{# AJOUTER UN TIMBRE #}
		<a href="admin?entite=enchere&action=a" class="button">Ajouter une enchère</a>
	</div>
	<p class="no-padding-bottom messageRetourAction {{ classRetour }}">{{ messageRetourAction }}&nbsp;</p>
	{% if encheresMises %}
		{# TABLEAU TIMBRE #}
		<table class="admin-tableau-enchere">
			<thead>
				<tr>
					{% if oUtilConn.utilisateur_profil_id is same as constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
						<th>Id</th>
					{% endif %}
					<th>Image</th>
					<th>Titre</th>
					<th>Statut</th>
					{% if oUtilConn.utilisateur_profil_id is same as constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
						<th>Créé par</th>
					{% endif %}
					<th>Début enchère</th>
					<th>Fin enchère</th>
					<th>Nombre de mises</th>
					<th>Mise actuelle</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for enchereMise in encheresMises %}
					<tr>
						{% if oUtilConn.utilisateur_profil_id is same as constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
							<th>{{ enchereMise.enchere_id }}</th>
						{% endif %}
						<th><img src="{{ enchereMise.image_nom_fichier }}" alt=""></th>
						<th>{{ enchereMise.timbre_titre }}</th>
						<th>
							{% if     enchereMise.timbre_statut == constant('Timbre::STATUT_INVISIBLE') %}
								Non approuvé
							{% elseif enchereMise.timbre_statut == constant('Timbre::STATUT_VISIBLE') %}
								En ligne
							{% elseif enchereMise.timbre_statut == constant('Timbre::STATUT_ARCHIVE') %}
								Archivé
							{% endif %}
						</th>
						{% if oUtilConn.utilisateur_profil_id is same as constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
							<th>{{ enchereMise.utilisateur_prenom }}
								{{ enchereMise.utilisateur_nom }}
							</th>
						{% endif %}
						<th>{{ enchereMise.enchere_date_debut }}</th>
						<th>{{ enchereMise.enchere_date_fin }}</th>
						<th>{{ enchereMise.nb_mise }}</th>
						{% if enchereMise.mise_actuelle %}
							<th>{{ enchereMise.mise_actuelle }}$</th>
						{% else %}
							<th>-</th>
						{% endif %}
						<th>
							<a href="admin?entite=enchere&action=m&enchere_id={{ enchereMise.enchere_id }}">
								modifier</a>
							{# si pas d'enchere ni de mise sur le timbre on peut supprimer #}
							<span class="confirmer" data-href="admin?entite=enchere&action=s&enchere_id={{ enchereMise.enchere_id }}">supprimer</span>
						</th>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
{% else %}
	<p>Vous n'avez pas encore ajouté d'enchère !</p>
{% endif %}</section>{{ include("admin/modaleSuppression.twig") }}
