<!-- carrousel nouveautés et à venir -->
<section>
	<h2>Nos nouvelles enchères</h2>

	<div class="carrousel">
		{% for enchere in nouveautes %}
			<article
				class="stampcard">
				<!-- image -->
				<a href="enchere?enchere_id={{ enchere.enchere_id }}">
					<picture>
						<img src="{{ enchere.image_nom_fichier }}" alt={{ enchere.timbre_titre }}>
					</picture>
				</a>
				<div>
					<!-- titre -->
					<h3>
						<a href="enchere?enchere_id={{ enchere.enchere_id }}">{{ enchere.timbre_titre }}</a>
					</h3>
					<!-- metadonnees mises -->
					<div class="stampcard-info-wrapper">
						<div class="stampcard-info">
							<span>Nombre de mises:
								{{ enchere.nb_mise }}</span>
							{% if enchere.heures_restant > 24 %}
								<span>Date de fin:
									{{ enchere.enchere_date_fin|date('d/m/Y') }}</span>
							{% else %}
								<span>Temps restant:
									{{ enchere.heures_restant }}
									heures</span>
							{% endif %}

						</div>
					</div>
					<!-- boutons enchérir -->
					<footer>
						<a class="stampcard-button-cta" href="enchere?enchere_id={{ enchere.enchere_id }}">Enchérir</a>
					</footer>
				</div>
			</article>
		{% else %}
			<div>Aucune Nouveautés.</div>
		{% endfor %}
	</div>
</section>
<!-- CTA lord Stampee -->
<section class="cta-wrapper">
	<div class="cta-content">
		<picture><img src="assets/img/lord-stampee.webp" alt="Lord Stampee"></picture>
		<div>
			<h2 class="padding-bottom">Qui est lord Stampee ?</h2>
			<p>Lord Stampee vient d’une famille de passionnés de philatélie depuis des générations. Sa passion pour les timbres rares et précieux l'a amené à rassembler l'une des collections les plus impressionnantes du monde.</p>
			<p>Ses collections de timbres ont été les plus complètes connues pour l'époque classique (timbres émis avant 1900), avec une passion pour les émissions d'avant 1870. Elles ont notamment concerné les provinces canadiennes et la Confédération du Canada, la Suisse, la colonie du Cap, Ceylan, le Gambie, Maurice, l'Argentine et l'Uruguay. Pour l'histoire postale des États-Unis, sa collection est une référence pour les affranchissements dans l'Ouest du pays.</p>
			<p>Membre active du Collectors Club of New York, Theodore Steinway et lui ont permis le développement de cette association. Juge international pendant trois décennies, il est le commissaire des expositions philatéliques internationales de 1980. En mars 1985 à New York, Theodore Steinway, plusieurs philatélistes et lui fondent la Philatelic Foundation, institution éducative à but non lucratif qui se donne pour but des travaux d'expertise, de recherches et de publications philatéliques. Ses collections et celles de sa fille ont été dispersés par la maison aux enchères Harmer's entre 1968 et 1971, 1989 et 1992 et en 1997.</p>
			<a href="#">En savoir plus sur Lord Stampee et ses collections<i class="fa-solid fa-arrow-right"></i>
			</a>
		</div>
	</div>
</section>
<!-- carrousel coups de coeur du Lord -->
<section>
	<h2>Les coups de coeur du lord</h2>
	<div class="carrousel">
		{% for enchere in coupsCoeur %}
			<article
				class="stampcard">
				<!-- image -->
				<a href="enchere?enchere_id={{ enchere.enchere_id }}">
					<picture>
						<img src="{{ enchere.image_nom_fichier }}" alt={{ enchere.timbre_titre }}>
					</picture>
				</a>
				<div>
					<!-- titre -->
					<h3>
						<a href="enchere?enchere_id={{ enchere.enchere_id }}">{{ enchere.timbre_titre }}</a>
					</h3>
					<!-- metadonnees mises -->
					<div class="stampcard-info-wrapper">
						<div
							class="stampcard-info">
							{# si l'enchère est en cours #}
							{% if enchere.heures_avant_debut <= 0 %}
								<span>Nombre de mises:
									{{ enchere.nb_mise }}</span>
								{% if enchere.heures_restant > 24 %}
									<span>Date de fin:
										{{ enchere.enchere_date_fin|date('d/m/Y') }}</span>
								{% else %}
									<span>Temps restant:
										{{ enchere.heures_restant }}
										heures</span>
								{% endif %}
							{% else %}
								{# si l'enchère est à venir #}
								<span>Date de début:
									{{ enchere.enchere_date_debut|date('d/m/Y')}}</span>
								<span>Heure de début:
									{{ enchere.enchere_date_debut|date('H:i:s')}}</span>
							{% endif %}

						</div>
					</div>
					<!-- boutons enchérir -->
					<footer>
						<a class="stampcard-button-cta" href="enchere?enchere_id={{ enchere.enchere_id }}">{{ enchere.heures_avant_debut <= 0 ? 'Enchérir' : 'En savoir plus'}}</a>
					</footer>
				</div>
			</article>
		{% else %}
			<div>Aucune Nouveautés.</div>
		{% endfor %}
	</div>
</section>
<!-- carrousel actualités -->
<section>
	<h2>Découvrez nos actualités</h2>
	<div class="carrousel">
		<article class="stampcard">
			<div>
				<!-- titre -->
				<h3>
					<a href="#">Timbres</a>
				</h3>
				<!-- metadonnes enchère -->
				<aside>
					<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi enim laborum expedita fugiat quam, esse ut? Molestiae voluptate adipisci, ullam, quidem nisi minus aliquam quisquam neque rerum inventore explicabo deserunt...</span>
				</aside>
				<!-- bouton Lire l'article -->
				<footer>
					<a class="stampcard-button-cta" href="#">Lire l'article</a>
					<!-- <a aria-label="bouton-like" class="stampcard-button-like" href="#"><i class="fa-regular fa-heart fa-xl"></a></i> -->
				</footer>
			</div>
		</article>
		<article class="stampcard">
			<div>
				<h3>
					<a href="#">Enchères</a>
				</h3>
				<aside>
					<span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque, quas, maiores expedita libero eius facere, magnam dolore laudantium doloremque aspernatur fugiat atque quaerat alias eveniet ex cum modi totam iusto?...</span>
				</aside>
				<footer>
					<a class="stampcard-button-cta" href="#">Lire l'article</a>
				</footer>
			</div>
		</article>
		<article class="stampcard">
			<div>
				<h3>
					<a href="#">Bridge</a>
				</h3>
				<aside>
					<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem libero minima rem dignissimos sapiente fuga, maiores illum distinctio, beatae architecto aspernatur consectetur voluptatem id quia sit explicabo dicta delectus commodi!...</span>
				</aside>
				<footer>
					<a class="stampcard-button-cta" href="#">Lire l'article</a>
				</footer>
			</div>
		</article>
		<article class="stampcard">
			<div>
				<h3>
					<a href="#">Enchères</a>
				</h3>
				<aside>
					<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores amet voluptates, quos accusamus fugit perspiciatis fugiat eaque. Nulla, eius quo quas cupiditate accusamus doloribus officiis, cum laboriosam harum, praesentium rem!...</span>
				</aside>
				<footer>
					<a class="stampcard-button-cta" href="#">Lire l'article</a>
				</footer>
			</div>
		</article>
		<article class="stampcard">
			<div>
				<h3>
					<a href="#">Enchères</a>
				</h3>
				<aside>
					<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores amet voluptates, quos accusamus fugit perspiciatis fugiat eaque. Nulla, eius quo quas cupiditate accusamus doloribus officiis, cum laboriosam harum, praesentium rem!...</span>
				</aside>
				<footer>
					<a class="stampcard-button-cta" href="#">Lire l'article</a>
				</footer>
			</div>
		</article>
	</div>
</section>
<!-- CTA compte membre -->
<section class="cta-wrapper">
	<picture><img src="assets/logo/crown.webp" alt=""></picture>
	<h2>Devenez membre du prestigieux club Stampee</h2>
	<div class="cta-content max-width60">
		<p>Ne manquez plus aucunes enchères, inscrivez-vous dès maintenant pour accéder aux avantages du club.Miser sur une enchère, créer votre liste de timbres favoris, recevoir notre infolettre, et encore plus de fonctionnalités à découvrir.</p>
	</div>
	<button>Créer mon compte</button>
</section>
