<script src="assets/js/gridList.js" defer></script>
<div
	class="container-catalogue">
	<!-- barre des filtres -->
	<aside class="regular-rhythm aside-catalogue">
		<h2 class="no-underline">Filtres</h2>
		<form
			class="filter" method="POST">
			<!-- filtre pays d'origine -->
			<div class="filter-item">
				<input type="checkbox" id="origine" {% if filtres["timbre_pays_id"] is null %} checked {% endif %}>
				<label for="origine" class="filter-name h4">Pays d'origine</label>
				<div class="filter-content">
					<select aria-label="Filtres origine" name="filtres[timbre_pays_id]">
						<option value="">--choisir un pays--</option>
						{% for unPays in pays %}
							<option value="{{ unPays.pays_id}}" {% if unPays.pays_id == filtres["timbre_pays_id"] %} selected {% endif %}>{{ unPays.pays_nom }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<!-- filtre publication -->
			<div class="filter-item">
				<input type="checkbox" id="annee" {% if filtres["timbre_annee_publication"] is null %} checked {% endif %}>
				<label for="annee" class="filter-name h4">Année de publication</label>
				<div class="filter-content">
					<select aria-label="Filtres annee" name="filtres[timbre_annee_publication]">
						<option value="">--choisir une année--</option>
						<option value="1900" {% if filtres["timbre_annee_publication"] == '1900' %} selected {% endif %}>avant 1900</option>
						<option value="1950" {% if filtres["timbre_annee_publication"] == '1950' %} selected {% endif %}>1900 - 1950</option>
						<option value="2000" {% if filtres["timbre_annee_publication"] == '2000' %} selected {% endif %}>1950 - 2000</option>
						<option value="min2000" {% if filtres["timbre_annee_publication"] == 'min2000' %} selected {% endif %}>après 2000</option>
					</select>
				</div>
			</div>
			<!-- filtre date échéance -->
			<div class="filter-item">
				<input type="checkbox" id="echeance" {% if filtres["enchere_date_fin"] is null %} checked {% endif %}>
				<label for="echeance" class="filter-name h4">Se termine avant</label>
				<div class="filter-content"><input type="date" aria-label="date" name="filtres[enchere_date_fin]" value={{ filtres["enchere_date_fin"] }}></div>
			</div>
			<!-- filtre prix -->
			<div class="filter-item">
				<input type="checkbox" id="prix" {% if filtres["prix_mini"] is null and filtres["prix_maxi"] is null %} checked {% endif %}>
				<label for="prix" class="filter-name h4">Fourchette de prix</label>
				<div class="filter-content filter-price-wrapper">
					<div class="filter-price-field">
						<span>Min</span>
						<input type="number" class="input-min" value={{ filtres["prix_mini"] }} aria-label="prix-minimum" name="filtres[prix_mini]">
					</div>
					<div class="filter-price-field">
						<span>Max</span>
						<input type="number" class="input-max" value={{ filtres["prix_maxi"] }} aria-label="prix maximum" name="filtres[prix_maxi]">
					</div>
				</div>
			</div>
			<!-- filtre condition -->
			<div class="filter-item">
				<input type="checkbox" id="condition" {% if filtres["timbre_condition_id"] is null %} checked {% endif %}>
				<label for="condition" class="filter-name h4">Condition</label>
				<div class="filter-content">
					<select aria-label="Filtres condition" name="filtres[timbre_condition_id]">
						<option value="">--choisir une condition--</option>
						{% for condition in conditions %}
							<option value="{{ condition.condition_id }}" {% if condition.condition_id == filtres["timbre_condition_id"] %} selected {% endif %}>{{ condition.condition_nom }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<!-- filtre couleur -->
			<div class="filter-item">
				<input type="checkbox" id="couleur" {% if filtres["timbre_couleur_id"] is null %} checked {% endif %}>
				<label for="couleur" class="filter-name h4">Couleur dominante</label>
				<div class="filter-content">
					<select aria-label="Filtres couleur" name="filtres[timbre_couleur_id]">
						<option value="">--choisir une couleur--</option>
						{% for couleur in couleurs %}
							<option value="{{ couleur.couleur_id }}" {% if couleur.couleur_id == filtres["timbre_couleur_id"] %} selected {% endif %}>{{ couleur.couleur_nom }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<!-- filtre tirage -->
			<div class="filter-item">
				<input type="checkbox" id="tirage" {% if filtres["timbre_tirage_id"] is null %} checked {% endif %}>
				<label for="tirage" class="filter-name h4">Tirage</label>
				<div class="filter-content">
					<select aria-label="Filtres tirage" name="filtres[timbre_tirage_id]">
						<option value="">--choisir un tirage--</option>
						{% for tirage in tirages %}
							<option value="{{ tirage.tirage_id }}" {% if tirage.tirage_id == filtres["timbre_tirage_id"] %} selected {% endif %}>{{ tirage.tirage_nom }}
								exemplaires</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<!-- boutons recherche / reset -->
			<footer class="regular-rhythm">
				<button type="submit">Filtrer</button>
				<button type="submit" name="reset">Reset</button>
			</footer>
		</form>
	</aside>
	<main class="main-catalogue regular-rhythm">
		<div
			class="catalogue-header">
			<!-- fil d'ariane -->
			<ul>
				<li>
					<a href=".">Accueil</a>
				</li>
				<li class="catalogue-header-ariane-active">{{ typeEnchere }}</li>
			</ul>
			<!-- toggle vue -->
			<button id="grid-list">Grille / Liste</button>
		</div>
		<!-- catalogue enchères -->
		<script type="module" src="assets/js/decompte.js"></script>
		<div class="grid">
			{% for enchere in catalogue %}
				{# carte timbre #}
				<article class="stampcard">
					<a aria-label="button-like" class="stampcard-button-like" href="#">
						<svg class="svg-icon like-button" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
							<title>Like Button</title>
							<desc>Like Button</desc>
							<g fill="none">
								<path class="like-button-path" stroke="#000" stroke-width="1.5px" stroke-linecap="round" stroke-linejoin="round" d="M12,9.05,10.88,7.93a3.16,3.16,0,0,0-4.48,0h0a3.17,3.17,0,0,0,0,4.47L12,18l5.6-5.6a3.17,3.17,0,0,0,0-4.47h0a3.16,3.16,0,0,0-4.48,0Z"/>
							</g>
						</svg>
					</a>
					<!-- image -->
					<a href="enchere?enchere_id={{ enchere.enchere_id }}">
						<picture>
							<img src={{ enchere.image_nom_fichier }} alt="{{ enchere.timbre_titre }}">
						</picture>
					</a>
					<div>
						<!-- titre -->
						<h3>
							<a href="#">{{ enchere.timbre_titre }}</a>
						</h3>
						<!-- metadonnees mises -->
						<div class="stampcard-info-wrapper">
							<div
								class="stampcard-info">
								{# si l'enchère est en cours #}
								{% if enchere.heures_avant_debut <= 0 and enchere.heures_restant > 0 %}
									<span>Nombre de mises:
										{{ enchere.nb_mise }}</span>
									{% if enchere.heures_restant > 24 %}
										<span>Date de fin:
											{{ enchere.enchere_date_fin|date('d/m/Y') }}</span>
									{% elseif enchere.heures_restant > 0 %}
										<span>Temps restant:
											{{ enchere.heures_restant }}
											heures</span>
									{% else %}
										<span>Enchère terminée</span>
									{% endif %}
									{% if enchere.mise_actuelle %}
										<span>Mise actuelle :
											{{ enchere.mise_actuelle|number_format(2, '.', ',') }}$</span>
									{% else %}
										<span>Soyez le premier à enchérir !</span>
									{% endif %}
									{# si l'enchère est à venir #}
								{% elseif enchere.heures_restant > 0 %}
									<span>Date de début:
										{{ enchere.enchere_date_debut|date('d/m/Y')}}</span>
									<span>Heure de début:
										{{ enchere.enchere_date_debut|date('H:i:s')}}</span>
								{% else %}
									{# si l'enchère est terminée #}
									<span>Date de début:
										{{ enchere.enchere_date_debut|date('d/m/Y')}}</span>
									<span>Date de fin:
										{{ enchere.enchere_date_fin|date('d/m/Y')}}</span>
									<span>Mise finale:
										{{ enchere.mise_actuelle|number_format(2, '.', ',') }}$</span>
								{% endif %}
							</div>
						</div>
						<!-- boutons enchérir -->
						<footer>
							<a class="stampcard-button-cta" href=" enchere?enchere_id={{ enchere.enchere_id }} ">
								{% if typeEnchere is same as 'Enchères en cours' %}
									Enchérir
									{{ enchere.mise_actuelle + 5|number_format(2, '.', ',') }}$
								{% else %}
									En savoir plus
								{% endif %}
							</a>
						</footer>
					</div>
				</article>
			{% else %}
				<div>Aucun timbre.</div>
			{% endfor %}
		</div>
	</main>
</div>
